{% set editor = salt['grains.filter_by']({
    'Debian-7': {
        'vim': 'vim',
        'emacs_nox': 'emacs23-nox',
    },
    'Debian-8': {
        'vim': 'vim',
        'emacs_nox': 'emacs-nox',
    },
    'default': {
        'vim': 'vim-enhanced',
        'emacs_nox': 'emacs23-nox',
    },
}, grain='osfinger', merge=salt['pillar.get']('editor:lookup')) %}
