{% set nginx = salt['grains.filter_by']({
    'Debian': {
        'server': 'nginx',
        'service': 'nginx',
        'user': 'www-data',
        'site_dir': '/etc/nginx/sites-enabled',
        'include_dir': '/etc/nginx/includes',
        'dhparams': '/etc/ssl/dhparams.pem',
    },
}, merge=salt['pillar.get']('nginx:lookup')) %}